* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box
}

body {
  display: flex;
  justify-items: center;
}
.container {
  width: 1024px;
  height: 1024px;
  margin: 0 auto;
  background: #F2F2F2;
  justify-content: center;
}